<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<div id="main_body">

<h1><%=@title %></h1>

<p>
  <b><%=t('Submit Date')%></b>
  <%= @engine_config.created_at.strftime('%Y/%m/%d') %>
</p>
<p>
  <b><%=t('Engine Name')%></b>
  <%= @engine_config.engine_name %>
</p>
<p>
  <b><%=t('Argument Desp') %></b>
  <%= @engine_config.argument_desp %>
</p>
<p>
  <b><%=t('Argument Name') %></b>
  <%= @engine_config.argument_name %>
</p>
<p>
  <b><%=t('Engine Version') %></b>
  <%= @engine_config.engine_version %>
</p>
<p>
  <b><%=t('Argument Value') %></b>
  <%= @engine_config.argument_value %>
</p>
<p>
  <b><%=t('Global') %></b>
  <%= @engine_config.global ? t('Yes') : t('No') %>
</p>
<p>
  <b><%=t('Commissioned') %></b>
  <%= @engine_config.commissioned ? t('Yes') : t('No') %>
</p>
<p>
  <b><%=t('Commission Date') %></b>
  <%= @engine_config.commissioned_date.strftime('%Y/%m/%d') if @engine_config.commissioned_date.present? %>
</p>
<p>
  <b><%=t('Commissioned By') %></b>
  <%= @engine_config.commissioned_by.name if @engine_config.commissioned_by_id.present? %>
</p>
<p>
  <b><%=t('Decommissioned') %></b>
  <%= @engine_config.decommissioned ? t('Yes') : t('No') %>
</p>
<p>
  <b><%=t('Decommission Date') %></b>
  <%= @engine_config.decommissioned_date.strftime('%Y/%m/%d') if @engine_config.decommissioned_date.present? %>
</p>
<p>
  <b><%=t('Decommissioned By') %></b>
  <%= @engine_config.decommissioned_by.name if @engine_config.decommissioned_by_id.present? %>
</p>
<p>
  <b><%=t('Tested') %></b>
  <%= @engine_config.tested ? t('Yes') : t('No') %>
</p>
<p>
  <b><%=t('Test Date') %></b>
  <%= @engine_config.tested_date.strftime('%Y/%m/%d') if @engine_config.tested_date.present? %>
</p>
<p>
  <b><%=t('Test By') %></b>
  <%= @engine_config.tested_by.name if @engine_config.tested_by_id.present? %>
</p>
<p>
  <b><%=t('Reviewed') %></b>
  <%= @engine_config.reviewed ? t('Yes') : t('No') %>
</p>
<p>
  <b><%=t('Review Date') %></b>
  <%= @engine_config.reviewed_date.strftime('%Y/%m/%d') if @engine_config.reviewed_date.present? %>
</p>
<p>
  <b><%=t('Review By') %></b>
  <%= @engine_config.reviewed_by.name if @engine_config.reviewed_by_id.present? %>
</p>
<p>
  <b><%= t('Submitted By') %></b>
  <%= @engine_config.submitted_by.name if @engine_config.submitted_by_id.present? %>
</p>
<p>
  <b><%= t('Last Updated By') %></b>
  <%= @engine_config.last_updated_by.name if @engine_config.last_updated_by_id.present? %>
</p>
<p>
  <b><%= t('WF State') %>:</b>
  <%= t(@engine_config.wf_state.humanize.titleize) if @engine_config.wf_state.present? %>
</p>
<p>
<% if @engine_config.wf_state.present? %>
  <b><%=t('Workflow History')%>:</b>
  <% StateMachineLogx::Log.where('resource_id = ? AND resource_string = ?', @engine_config.id, params[:controller]).order('created_at DESC').each do |t| %>
    <li><%= t.created_at.strftime("%Y/%m/%d") %>,&nbsp; <%= t.action_by_name %>,&nbsp; <%=t(t.from)%>,&nbsp; <%=t(t.event.capitalize) %>,&nbsp; <%=t(t.to)%>,&nbsp;<%= t.comment %> </li>
  <% end %>
<% end %>	
</p>
<p>
  <b>LOG：</b>
  <% Commonx::Log.where('resource_id = ? AND resource_name = ?', @engine_config.id, params[:controller].sub('/', '_')).order("created_at DESC").each do |t| %>
    <li><%= t.created_at.strftime("%Y/%m/%d") %>,&nbsp; <%= t.last_updated_by.name %>,&nbsp; <%= t.log %> </li>
  <% end %>
</p>
   <table class="table table-striped">
	  <tr>
	    <th>
          <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  		  <%= link_to t('New Log'), SUBURI + commonx.new_log_path(:resource_id => @engine_config.id, :resource_name => params[:controller], :subaction => 'engine_config', :format => :js), :remote => true, 
                          :id => 'new_log_link', :class => BUTTONS_CLS['action'] if has_action_right?('create_engine_config', 'commonx/logs') %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  		  <%= link_to t('Delete'), engine_config_path(@engine_config), :method => :delete, :confirm => I18n.t('Delete the record?'), :class => BUTTONS_CLS['action'] if has_action_right?('destroy', params[:controller], @engine_config) %>
   		</th>
	  </tr>
	</table> 
</div>

<% end %>
