<% if @view_in_config && @erb_code %>
<%= render inline: ERB.new(@erb_code).result(binding) %>
<% else %>

<h1><%=@title %></h1>
<div class="pagination"><%= will_paginate models %></div>
<p><%=t('Project')%>=<%=@project.name if @project %></p>
<%=t('# of records')%>=<%=models.count if models %>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th><%=t('Submit Date')%></th>
    <th><%=t('User Access Desp')%></th>
    <th><%=t('Engine Name')%></th>
    <th><%=t('Access Action')%></th>
    <th><%=t('Resource')%></th>
    <th><%=t('SQL Code')%></th>
    <th><%=t('Tested')%></th> 
    <th><%=t('# of Deployment')%></th> 
    <th><%=t('Commissioned')%></th>     
    <th><%=t('Commission Date')%></th>  
    <th><%=t('WF State')%></th>
    <th><%=t('Submitted By')%></th>
    <th><%=t('Last Updated By')%></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% models.each do |r| %>
  <tr>
  	<td><%= link_to r.id.to_s, SUBURI + "/view_handler?index=1&url=#{user_access_path(r)}"  %></td> 
  	<td><%= r.created_at.strftime('%Y/%m/%d')%></td>
  	<td><%= r.access_desp %></td>
    <td><%= r.engine.name %></td>	
    <td><%= r.action %></td>   
    <td><%= r.resource %></td>
    <td><%= r.sql_code[0..40] if r.sql_code.present? %></td>
    <td><%= r.tested ? t('Yes') : t('No') %></td>
    <td><%= OnboardDatax::OnboardUserAccess.where(user_access_id: r.id).count %></td>
    <td><%= r.commissioned ? t('Yes') : t('No') %></td>
    <td><%= r.commissioned_date.strftime('%Y/%m/%d') if r.commissioned_date.present? %></td>
    <td><%= r.wf_state.humanize.titleize if r.wf_state.present?  %></td>
    <td><%= r.submitted_by.name if r.submitted_by_id.present? %></td> 
    <td><%= r.last_updated_by.name if r.last_updated_by_id.present? %></td> 
    <td><%= link_to t('Submit User Access'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_user_access_path(r, :wf_event => 'submit', :resource_id => r.id)}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'initial_state' && has_action_right?('submit', params[:controller], r) %></td>
    <td><%= link_to t('Test Pass'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_user_access_path(r, :wf_event => 'test_pass', :resource_id => r.id)}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'testing' && has_action_right?('test_pass', params[:controller], r) %></td>
    <td><%= link_to t('Test Reject'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_user_access_path(r, :wf_event => 'test_reject', :resource_id => r.id)}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'testing' && has_action_right?('test_reject', params[:controller], r) %></td>
    <td><%= link_to t('Commission'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_user_access_path(r, :wf_event => 'commission', :resource_id => r.id)}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'commissioning' && has_action_right?('commission', params[:controller], r) %></td>
    <td><%= link_to t('Decommission'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_user_access_path(r, :wf_event => 'decommission', :resource_id => r.id)}", :confirm => 'Are you sure to decommission?', :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'commissioned' && has_action_right?('decommission', params[:controller], r) %></td>
    <td><%= link_to t('Rewind'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_user_access_path(r, :wf_event => 'rewind', :resource_id => r.id)}", :confirm => 'Are you sure to rewind?', :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'commissioned' && has_action_right?('rewind', params[:controller], r) %></td>
    <td><%= link_to t('New Onboard Data'), SUBURI + "/view_handler?index=1&url=#{SUBURI + CGI.escape(onboard_datax.new_onboard_user_access_path(project_id: @project_id, engine_id: r.engine_id, user_access_id: r.id))}", :class => BUTTONS_CLS['action'] if @project_id && has_action_right?('create', 'onboard_datax/onboard_user_accesses', r) %></td>
    <td><%= link_to t('Copy'), SUBURI + "/view_handler?index=1&url=#{copy_user_access_path(r)}", :class => BUTTONS_CLS['action'] if has_action_right?('create', params[:controller], r) %></td>
    <td><%= link_to t('Edit'), SUBURI + "/view_handler?index=1&url=#{edit_user_access_path(r)}", :class => BUTTONS_CLS['action'] if has_action_right?('update', params[:controller], r) %></td>

  </tr>
<% end %>
   <table class="table table-striped">
	  <tr>
	    <th>
  		  <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
  		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  		  <%= link_to t('New User Access'), SUBURI + "/view_handler?index=1&url=#{new_user_access_path()}", :class => BUTTONS_CLS['action'] if has_action_right?('create', params[:controller]) %>
  		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	  <%= link_to t('Search'), SUBURI + "/authentify/view_handler?index=1&url=#{search_user_accesses_path}", :class => BUTTONS_CLS['action'] if has_action_right?('search', params[:controller]) %>
  		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  		  <%= link_to t('Choose Engine for Onboard'), SUBURI + "/view_handler?index=1&url=#{engine_for_mass_onboard_user_accesses_path(project_id: @project_id)}", :class => BUTTONS_CLS['action'] if @project_id && has_action_right?('create', 'onboard_datax/onboard_user_accesses') %>
        </th>
	  </tr>
	</table> 

<% end %>
