<div id="main_body">
<% if @view_in_config && @erb_code %>
<%= render inline: @erb_code %>
<% else %>

<p><%=t('Project')%>=<%=@project.name if @project %></p>
<p><%=t('Engines Boarded')%>=<%=@engine_boarded %></p>
<p><%=t('Engines Boarded#')%>=<%=@engine_num_boarded %></p>
<p><%=t('# of engines')%>=<%=@engines.count if @engines %></p>
<p><%=t('Engines Unboarded')%>=<%=(@engines.pluck('name') - @engine_boarded.split(' ')).join(', ') %></p>
<%= form_tag mass_onboard_user_accesses_path, :method => :get do %>
<table class="table table-striped">
  <tr>
  	 <th></th>
     <th><%= t('Engine Name') %></th>
     <th><%= t('Role Name') %></th>
     <th><%= t('Engine Desp') %></th>
  </tr>

<% @engines.each do |r| %>
  <% @roles.each do |role| %>
    <tr>
      <td><%= check_box_tag 'id_array[]', [r.id,role.id].join(',') %></td>
      <td><%= r.name %></td>
      <td><%= role.name %></td>
      <td><%= r.module_desp[0..60] if r.module_desp %></td>
    </tr>
  <% end %>
<% end %>
   <table class="table table-striped">
	  <tr>
	    <th>
  		  <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
  		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <%= submit_tag t('Save') ,:name => "save[#{@project_id}]", :class => BUTTONS_CLS['action'] %>
  	    </th>
	  </tr>
	</table> 

<% end %>

<% end %>
</div>